
$primary   : #1976d2;
$secondary : #26A69A;
$accent    : #dd4b39;
$dark      : #1D1D1D;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$dar_page  : #121212;
$positive  : #21ba45;
$transparente : #ffffff;
$terciari :#b00b09;
$red-1 : #b00b09 !default;
$transparente-color: rgba(255, 255, 255, .4);




