<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.0.0/echarts.min.js"></script>


    <script  src="https://api.micuentaweb.pe/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
    kr-public-key="58045315:testpublickey_1Q9ePN9mK8XtXfW7ex48ur1KEpkjqr4nVweRH3fw6pO5Z"
    kr-post-url-success="http://192.168.3.219/pasarela/paid.php">
   </script>
<!-- {{page.kr_js_endpoint}}/ext/classic-reset.css -->
<!-- 
<link rel="stylesheet" href="https://api.micuentaweb.pe/static/interfazpasarela/classic-reset.css">
<script type="text/javascript" src="https://api.micuentaweb.pe/static/interfazpasarela/classic.js"></script>
 -->

 <link rel="stylesheet" 
 href="https://krypton.purebilling.io/static/js/krypton-client/dev/ext/classic-reset.css">


 <!-- <script 
 src="https://krypton.purebilling.io/static/js/krypton-client/dev/ext/classic.js">
</script>  -->
 
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <!-- <button class="kr-payment-button" ></button> -->
  </body>
</html>
<style type="text/css">
  
</style>
